body{
    margin: 0;
}
.btn-navigation{
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 20;
    cursor: pointer;
}
.btn-navigation .barre{
    width: 30px;
    height: 3px;
    background: rgb(78, 85, 187);
    margin-top: 6px;
    transition: background 2s ease-in-out;
    --webkit-transition:background : transform 2s ease-in-out;
}
.btn-navigation .barre.white{
    background: white;
 
}
.nav-bar{
    position: fixed;
    right: 0;
    background-color: rgb(78, 85, 187);
    min-width: 20%;
    height: 100%;
    transition: transform 1s ease-in-out;
    --webkit-transition:transition: transform 1s ease-in-out;
    transform: translateX(100%);
    --webkit-transform: translateX(100%);

}
.nav-bar.isOpen{
    transform: translateX(0%);
    --webkit-transform: translateX(0%);
    transition: transform 1s ease-in-out;
    --webkit-transition:transition: transform 1s ease-in-out;
}
.nav-bar ul{
    margin-top: 100px;

}

.nav-bar ul li{
    margin: 20px 0;
    list-style-type: none;
}

.nav-bar ul li a{
    color: white;
    text-decoration: none;
      
}

